body{
  background-color: #a6a9b6;
  font-family: 'Roboto',sans-serif;
}
nav{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
a{
 text-decoration: none;
 color: white;
 text-transform: uppercase;
 font-size: 22px;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  margin: 10px 0;
  text-align: right;

}
nav a:hover{
  color: #e8eae6;
}
.toggle:focus{
  outline: none;
}
.toggle{
  border: none;
  position: absolute;
  padding: 10px 15px;
  font-size: 20px;
  right: 0;
  top: 0;
  transform: translateX(100%);
}

.toggle .fa-bars{
  display: block;
}
.toggle .fa-times{
  display: none;
}
nav.active{
  transform: translateX(0);
}

nav.active .toggle .fa-bars{
  display: none;
}
nav.active .toggle .fa-times{
  display: block;
}
